<div id='solution_3'>
    <div>
        <md-steppers :md-active-step.sync="active" md-vertical md-linear>

            <md-step id="step1" md-label="应变片单臂电桥性能实验数据" :md-done.sync="finalstep">
                <p>根据“应变片单臂电桥性能实验数据“表数据做出曲线并计算系统灵敏度S＝ΔV/ΔW（ΔV输出电压变化量，ΔW重量变化量）和非线性误差δ，δ=Δm/yFS ×100％式中Δm为输出值与拟合值的最大偏差：yFS为重量的最大值，例如200g。实验完毕，关闭电源。</p>
                <div>
                    <md-table md-card>
                        <md-table-toolbar>
                            <h1 class="md-title">应变片单臂电桥性能实验数据表</h1>
                        </md-table-toolbar>
                        <md-table-row>
                            <md-table-cell width="100">重量(g)</md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#1</label>
                                    <md-input v-model="xArray[0]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#2</label>
                                    <md-input v-model="xArray[1]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#3</label>
                                    <md-input v-model="xArray[2]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#4</label>
                                    <md-input v-model="xArray[3]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#5</label>
                                    <md-input v-model="xArray[4]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                        </md-table-row>
                        <md-table-row>
                            <md-table-cell width="100">电压(mV)</md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#1</label>
                                    <md-input v-model="yArray[0]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#2</label>
                                    <md-input v-model="yArray[1]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#3</label>
                                    <md-input v-model="yArray[2]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#4</label>
                                    <md-input v-model="yArray[3]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#5</label>
                                    <md-input v-model="yArray[4]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                        </md-table-row>
                        <md-table-row>
                            <md-table-cell width="100">重量(g)</md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#6</label>
                                    <md-input v-model="xArray[5]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#7</label>
                                    <md-input v-model="xArray[6]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#8</label>
                                    <md-input v-model="xArray[7]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#9</label>
                                    <md-input v-model="xArray[8]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>重量#10</label>
                                    <md-input v-model="xArray[9]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                        </md-table-row>
                        <md-table-row>
                            <md-table-cell width="100">电压(mV)</md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#6</label>
                                    <md-input v-model="yArray[5]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#7</label>
                                    <md-input v-model="yArray[6]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#8</label>
                                    <md-input v-model="yArray[7]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#9</label>
                                    <md-input v-model="yArray[8]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                            <md-table-cell width="100">
                                <md-field>
                                    <label>电压#10</label>
                                    <md-input v-model="yArray[9]" type="number"></md-input>
                                </md-field>
                            </md-table-cell>
                        </md-table-row>

                    </md-table>
                </div>
                <br/>
                <md-button class="md-raised md-primary" @click="calculateResultTable()">计算</md-button>
                <div id='chart4table' style="width:65%;height:400px"></div>
                <span class="md-body-1">非线性误差为：</span>
                <span class="md-body-1">{{nonlinearError}}%</span>
                <br/>
                <span class="md-body-1">系统灵敏度为：</span>
                <span class="md-body-1">{{systemSensitivity}}</span>
                <br/>
                <br/>
                <md-button class="md-raised md-primary" @click="setDone('finalstep')">完成</md-button>
            </md-step>

            <md-step id="step1" md-label="应变片单臂电桥性能实验数据" :md-done.sync="finalstep">
                    <p>根据“应变片单臂电桥性能实验数据“表数据做出曲线并计算系统灵敏度S＝ΔV/ΔW（ΔV输出电压变化量，ΔW重量变化量）和非线性误差δ，δ=Δm/yFS ×100％式中Δm为输出值与拟合值的最大偏差：yFS为重量的最大值，例如200g。实验完毕，关闭电源。</p>
                    <div>
                        <md-table md-card>
                            <md-table-toolbar>
                                <h1 class="md-title">应变片单臂电桥性能实验数据表</h1>
                            </md-table-toolbar>
                            <md-table-row>
                                <md-table-cell width="100">重量(g)</md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#1</label>
                                        <md-input v-model="xArray[0]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#2</label>
                                        <md-input v-model="xArray[1]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#3</label>
                                        <md-input v-model="xArray[2]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#4</label>
                                        <md-input v-model="xArray[3]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#5</label>
                                        <md-input v-model="xArray[4]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                            </md-table-row>
                            <md-table-row>
                                <md-table-cell width="100">电压(mV)</md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#1</label>
                                        <md-input v-model="yArray[0]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#2</label>
                                        <md-input v-model="yArray[1]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#3</label>
                                        <md-input v-model="yArray[2]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#4</label>
                                        <md-input v-model="yArray[3]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#5</label>
                                        <md-input v-model="yArray[4]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                            </md-table-row>
                            <md-table-row>
                                <md-table-cell width="100">重量(g)</md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#6</label>
                                        <md-input v-model="xArray[5]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#7</label>
                                        <md-input v-model="xArray[6]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#8</label>
                                        <md-input v-model="xArray[7]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#9</label>
                                        <md-input v-model="xArray[8]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>重量#10</label>
                                        <md-input v-model="xArray[9]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                            </md-table-row>
                            <md-table-row>
                                <md-table-cell width="100">电压(mV)</md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#6</label>
                                        <md-input v-model="yArray[5]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#7</label>
                                        <md-input v-model="yArray[6]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#8</label>
                                        <md-input v-model="yArray[7]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#9</label>
                                        <md-input v-model="yArray[8]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                                <md-table-cell width="100">
                                    <md-field>
                                        <label>电压#10</label>
                                        <md-input v-model="yArray[9]" type="number"></md-input>
                                    </md-field>
                                </md-table-cell>
                            </md-table-row>
    
                        </md-table>
                    </div>
                    <br/>
                    <md-button class="md-raised md-primary" @click="calculateResultTable()">计算</md-button>
                    <div id='chart4table' style="width:65%;height:400px"></div>
                    <span class="md-body-1">非线性误差为：</span>
                    <span class="md-body-1">{{nonlinearError}}%</span>
                    <br/>
                    <span class="md-body-1">系统灵敏度为：</span>
                    <span class="md-body-1">{{systemSensitivity}}</span>
                    <br/>
                    <br/>
                    <md-button class="md-raised md-primary" @click="setDone('finalstep')">完成</md-button>
            </md-step>
        </md-steppers>
    </div>
</div>
<script>
    Vue.use(VueMaterial.default)

    var page_1 = {
        name: "page_3",
        data: function data() {
            return {
                active: "step1",
                exId: "jd-solution-4",
                secondStepError: null,
                polyfitResultExpression: '',
                xArray: ['', '', '', '', '', '', '', '', '', ''],
                yArray: ['', '', '', '', '', '', '', '', '', ''],
                nonlinearError: 0,
                systemSensitivity: 0,
                R: '',
                DCVoltage: ''
            }
        },
        mounted: function () {
            var self = this
            pyapi.api_driver_init(self.exId)
        },
        methods: {
            setDone: function setDone(currentId, nextId) {
                var self = this
                self[currentId] = true
                if (currentId) {
                    switch (currentId) {
                        case "step1":
                            break
                        case "step2":
                            // Stop_Read_R
                            pyapi.api_driver_stop_Read_R()
                            break
                        case "step3":
                            // Stop_Read_DCVoltage
                            pyapi.api_driver_stop_Read_DCVoltage()
                            break
                        case "step4":
                            // Stop_Read_DCVoltage
                            pyapi.api_driver_stop_Read_DCVoltage()
                            break
                        case "step5":
                            // Stop_Read_DCVoltage
                            pyapi.api_driver_stop_Read_DCVoltage()
                            break
                        case "finalstep":
                            break
                        default:
                            break
                    }
                }
                if (nextId) {
                    self.active = nextId
                    switch (nextId) {
                        case "step1":
                            break
                        case "step2":
                            // Start_Read_R
                            pyapi.api_driver_start_Read_R(js_callback_api_driver_start_Read_R)
                            break
                        case "step3":
                            // Start_Read_DCVoltage
                            pyapi.api_driver_start_Read_DCVoltage(js_callback_api_driver_start_Read_DCVoltage)
                            break
                        case "step4":
                            // Start_Read_DCVoltage
                            pyapi.api_driver_start_Read_DCVoltage(js_callback_api_driver_start_Read_DCVoltage)
                            break
                        case "step5":
                            // Start_Read_DCVoltage
                            pyapi.api_driver_start_Read_DCVoltage(js_callback_api_driver_start_Read_DCVoltage)
                            break
                        case "finalstep":
                            break
                        default:
                            break
                    }
                }
                function js_callback_api_driver_start_Read_R(result) {
                    var R_value = result['R']
                    console.log(R_value)
                    if (R_value) {
                        if (R_value != 'NaN') {
                            R_value = Number(R_value).toFixed(1)
                        }
                        self.R = R_value
                    }
                }
                function js_callback_api_driver_start_Read_DCVoltage(result) {
                    var DCVoltage_value = result['DCVoltage']
                    if (DCVoltage_value) {
                        if (DCVoltage_value != 'NaN') {
                            DCVoltage_value = Number(DCVoltage_value).toFixed(4)
                        }
                        self.DCVoltage = DCVoltage_value
                    }
                }
            },
            calculateResultTable: function calculateResultTable() {
                var self = this
                console.log(self.xArray)
                var w_arr = []
                var v_arr = []
                for (let index = 0; index < 10; index++) {
                    var w_val = Number(self.xArray[index])
                    w_arr.push(w_val)
                    var v_val = Number(self.yArray[index])
                    v_arr.push(v_val)
                }
                // get polyfit result and nonlinear error =========================
                pyapi.api_calculate_Polyfit_NonlinearError(w_arr, v_arr, 1, js_callback_api_calculate_Polyfit_NonlinearError)
                function build_chartData_2valueArr(xArr, yArr) {
                    var result = []
                    for (let index = 0; index < xArr.length; index++) {
                        const x = xArr[index]
                        const y = yArr[index]
                        result.push([x, y])
                    }
                    return result
                }

                function js_callback_api_calculate_Polyfit_NonlinearError(result) {
                    // get data =========================
                    var polyfit_result = result['polyfit_result']
                    var nonlinear_error = result['nonlinear_error']
                    var polyfit_data = result['polyfit_data']
                    var xArr = result['xArr']
                    var yArr = result['yArr']
                    var x_min = result['x_min']
                    var x_max = result['x_max']
                    var y_min = result['y_min']
                    var y_max = result['y_max']
                    var x_polyfit_min = result['x_polyfit_min']
                    var x_polyfit_max = result['x_polyfit_max']
                    var y_polyfit_min = result['y_polyfit_min']
                    var y_polyfit_max = result['y_polyfit_max']
                    // render polyfit =========================
                    var a = polyfit_result[0].toFixed(2)
                    var b = polyfit_result[1].toFixed(2)
                    var str_polyfit_result = ''
                    if (b > 0) {
                        str_polyfit_result = 'y = ' + String(a) + ' x' + ' + ' + String(b)
                    } else {
                        str_polyfit_result = 'y = ' + String(a) + ' x' + ' - ' + String(-b)
                    }
                    self.polyfitResultExpression = str_polyfit_result
                    self.systemSensitivity = a
                    // render nonlinear =========================
                    self.nonlinearError = (nonlinear_error * 100).toFixed(2)
                    // render graph =========================
                    var experiment_data_chartdata = build_chartData_2valueArr(xArr, yArr)
                    var polyfit_data_chartdata = build_chartData_2valueArr(xArr, polyfit_data)
                    console.log(experiment_data_chartdata)
                    console.log(polyfit_data_chartdata)
                    var chart4table = echarts.init(document.getElementById('chart4table'))
                    console.log(chart4table)

                    var markLineOpt = {
                        animation: true,
                        label: {
                            normal: {
                                position: 'middle',
                                fontSize: 20,
                                color: '#111',
                                formatter: str_polyfit_result,
                                textStyle: {
                                    align: 'center'
                                }
                            }
                        },
                        lineStyle: {
                            normal: {
                                type: 'solid'
                            }
                        },
                        tooltip: {
                            formatter: str_polyfit_result
                        },
                        data: [[{
                            coord: [x_polyfit_min, y_polyfit_min],
                            symbol: 'none'
                        }, {
                            coord: [x_polyfit_max, y_polyfit_max],
                            symbol: 'none'
                        }]]
                    };

                    var axis_x_min = Math.min(x_polyfit_min, x_min, 0)
                    var axis_x_max = Math.max(x_polyfit_max, x_max)
                    var axis_y_min = Math.min(y_polyfit_min, y_min, 0)
                    var axis_y_max = Math.max(y_polyfit_max, y_max)
                    var option = {
                        title: {
                            text: '应变片单臂电桥实验结果图'
                        },
                        tooltip: {
                            formatter: function (params) {
                                var data = params.data || [0, 0];
                                return data[0].toFixed(2) + ', ' + data[1].toFixed(2);
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'value', min: axis_x_min, max: axis_x_max
                        },
                        yAxis: {
                            type: 'value', min: axis_y_min, max: axis_y_max
                        },
                        series: [
                            {
                                id: 'exData',
                                name: '实验数据',
                                type: 'scatter',
                                smooth: true,
                                symbolSize: 5,
                                data: experiment_data_chartdata,
                                markLine: markLineOpt
                            }
                        ]
                    }
                    chart4table.setOption(option)

                    window.onresize = function () {
                        chart4table.resize()
                    }
                }
            }
        }
    }


    var app = new Vue(page_1)

    app.$mount("#solution_3")
</script>